body {
    background-color: rgb(245, 211, 168);
    background-image: url("https://img.freepik.com/free-photo/pastel-yellow-vignette-concrete-textured-background_53876-124561.jpg?w=2000");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%,100%;
}